 @import url("https://fonts.googleapis.com/css2? family= PT+Sans & display=swap");
 @import "./partials/header";
 @import "./partials/main";
 @import "./partials/footer";
 
 $color-principal:#edd7c8;
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family:"PT Sans", sans-serif;
    font-size: 20px;
}
body{
    background-color: $color-principal;
}



